.crossOut {
  text-decoration: line-through;
  text-decoration-color: red;
}

h5 {
  color: teal;
}

button {
  background-color: teal;
  border-style: none;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}
